<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/index}">

<body>
	<div layout:fragment="tabscontent">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="container">
						<ul class="nav nav-tabs nav-justified">
							<li class="nav-item "><a class="nav-link "
								th:href="@{'/user/clientaccounts.html/'+${client.client_id}}">Client
									Accounts</a></li>
							<li class="nav-item active"><a class="nav-link active"
								th:href="@{'/user/currencyrandvalues.html/'+${client.client_id}}">Accounts
									Currency </a></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{'/user/withdraw.html/'+${client.client_id}}">ATM - WithDraw</a></li>

						</ul>
					</div>
				</div>
			</div>
		</div>
<div><font size="22"><b><center><p>Currency Account Balances</p></center></b></font></font></div>
		<div style="margin-top: 35px">
			<table class="table table-striped">
			<thead>
				<tr>
					<th data-type="number">&nbsp;&nbsp;Account Number</th>
					<th data-type="String">&nbsp;&nbsp;Currency</th>
					<th data-type="String">&nbsp;&nbsp;Currency Balance</th>
					<th data-type="String">&nbsp;&nbsp;Conversion Rate</th>
					<th data-type="String">&nbsp;&nbsp;ZAR Amount</th>

				</tr>
				</thead>
				<tbody>
				<tr th:each="account : ${currencyAccounts}">
					<td th:text="${account.accountNumber}">Account Number</td>
					<td th:text="${account.currency}">Currency</td>
					<td
						th:text="${#numbers.formatDecimal(account.currencyBalance, 0, 'COMMA', 2, 'POINT')}">Currency
						Balance</td>
					<td th:text="${account.conversionRate}">Conversion Rate</td>
					<td
						th:text="${#numbers.formatDecimal(account.zarAmount, 0, 'COMMA', 2, 'POINT')}">zar
						Amount</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div align="right">
				<p>
					<button onclick="goBack()">Back</button>
				</p>

				<script>
					function goBack() {
						window.history.back();
					}
				</script>
			</div>		
	</div>
</body>
</html>


